.expert-back {
  background-color: #e0a965;
}
.expert-btn {
  border: 1px solid white;
  color: azure;
  text-transform: uppercase;
  
  font-weight: 600;
}
.expert-btn:hover {
  background-color: #13161d;
  border: 1px solid  #13161d;
  border-radius: 2px;
  transition: 1s;
}
